h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  width: 96vw;
  height: 96vh;
}

.purple {
  color: #663399;
}

.outer-container {
  margin: auto;
  padding: 0;
  display: flex;
  width: 98%;
  height: 98%;
}

.inner-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-container h1 {
  font-size: 4em;
  font-weight: 100;
}

.title-container p {
  font-size: 0.8em;
}

.scene-container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 15px 0;
  padding: 5px;
  border-left: solid 3px #663399;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.scene-index {
  color: #666;
  font-size: 0.8em;
}

.scene-actions {
  margin: auto 0;
}

.scene-actions i {
  margin: 0 5px;
}

.scene-control-buttons {
  display: flex;
  justify-content: space-between;
}

.scene-button {
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 0;
  background: #663399;
  width: 130px;
  font-family: inherit;
  font-size: inherit;
  color: white;
}

i {
  vertical-align: middle;
}

.new-scene-modal {
  width: 265px;
  height: 265px;
  display: flex;
  flex-direction: column;
}

.new-scene-input {
  border-bottom: 1px solid;
}

.new-scene-input:focus {
  border-bottom: 1px solid #663399;
}
